:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #213547;
}

.app-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  gap: 0.1rem;
  width: 100%;
  max-width: 100vw;
  margin: 0 auto;
}

.text-display, .editor-area {
  border-radius: 8px;
  padding: 1rem; 
  max-width: 100%; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  text-align: center;  
  width: 100%;
}

.keyboard-key {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
  outline: 1px auto -webkit-focus-ring-color;
  margin: 0.1em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.keyboard-key:hover {
  background-color: #2a3b4c;
  color: #ffffff;
}

.text-display {
  flex-grow: 1;
  min-height: 150px;
  max-height: 300px;
  overflow-y: auto;
  font-size: clamp(0.5rem, 2vw, 1.5em);
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  width: 100%;
  text-align: left;
  color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.keyboard-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 ;
}

.editor-area {
  width: 100%;
  min-height: 100px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  padding: 1rem;
  background-color: #2a3b4c;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
  display: flex;
  flex-direction: row
}

.delete-keys {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-left: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.note {
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 1rem;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.note.selected {
  border-color: #4caf50;
  color: #4caf50;
  font-weight: bold;
}

.add-note-button {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #4caf50;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-note-button:hover {
  background-color: #45a049;
}

.delete-note-button {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #ff4d4d;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 0.8rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-note-button:hover {
  background-color: #ff1a1a;
  color: #ffffff;

}

.note {
  position: relative;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 1rem;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.note.selected {
  background-color: #4caf50;
  color: #ffffff;
  font-weight: bold;
}
